{% extends "web/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'web/register_styling.css' %}">
</head>
   <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Sign Up Now</legend>
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.First_Name|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.Last_Name|as_crispy_field }}
                    </div>
                </div>
                {{ form.username|as_crispy_field }}
                {{ form.email|as_crispy_field }}
                {{ form.password|as_crispy_field }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Next</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="#">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}